APP_NAME=PPPoE Monitoring
SECRET_KEY=ganti-dengan-random-secret
PUBLIC_BASE_URL=http://192.168.1.10:5000
MIKROTIK_API_TOKEN=
MAP_DEFAULT_LAT=-2.5489
MAP_DEFAULT_LNG=118.0149
MAP_DEFAULT_ZOOM=5
ROUTER_STALE_MINUTES=15
PPPOE_BLACKLIST_PREFIXES=
PORT=5000
FLASK_DEBUG=0
